<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastrodemanutencao.css">
    <title>Cadastro de Manutenção</title>
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a ><img src="../../assets/Imagens/logo.png"> </img>
                    
                </a>
            </div><!--logo-->

            <nav class="menu">
                <ul>
                    <li> <a href="../home/home.html">Página Inicial</a></li>
                    <li> <a href="../históricodemanutencao/historicodemanutencao.html">Histórico de Manutenção</a></li>
                    
                </ul>
            </nav>
            
        </div><!--interface-->
    </header>  

    <section class="topo-do-site">
        <h1>Cadastro de Manutenção</h1>
        <p>Cadastrar manutenção realizada</p>
    </section>

    <section class="formulario">

        <form action="#" method="post">         
            <label for="titulochamado">Título do chamado:<span>*</span></label>
            <select id="titulochamado" name="titulochamado">
                <option value="titulochamado1">Lâmpada queimada</option>
                <option value="titulochamado2">Torneira com vazamento</option>
                <option value="titulochamado3">Rachadura na parede</option>
            </select>
        </form>
        <form action="#" method="post">           
            <label for="tecnico-responsavel">Técnico Responsável:<span>*</span></label>
            <select id="tecnico-responsavel" name="tecnico-responsavel">
                <option value="joao-pimenta">João Pimenta</option>
                <option value="ze-colmeia">Zé Colmeia</option>
                <option value="zetti">Zetti</option>
            </select>
        </form>
    </form>
        <form>
        <label for="mensagem">Mensagem:<span>*</span></label>
        <textarea id="mensagem" name="mensagem" rows="4" placeholder="Insira uma mensagem sobre a manutenção realizada" required minlength="10" maxlength="5000"></textarea>
    </form>
</select>
    
    
<p class="campos-obrigatorios">*Campos obrigatórios.</p>
    <div class="botoes">
        <button type="button" class="cancelar">Cancelar</button> 
        <button type="button" class="confirmar">Confirmar</button>
    </div>
    
</form>
</section>
        <footer>
            <div class="footer-rodapé">
            <div class="texto-direita">
                <div class="sobre">
                    <h3>Sobre</h3>
                    <p2>Há mais de 65 anos. A tradição que não parou no tempo.  </p2>
                </div>
                <div class="redes-sociais">
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-whatsapp"></i>
                </div><!--redes-sociais-->
            </div>

            <div class="texto-esquerda">          
                <div class="informacoes">
                    <h3>Informações de Contato</h3>
                    <p2>R. Nossa Sra. de Lourdes, 193 - <br> Jardim Tavares, Campina Grande - PB<br>58402-045 <br> 83 3182-3600</p2>
                </div>
            </div>
            </div>
        </footer>
</body>
</html>
