/* Estilo Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e3e3;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.interface1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #064C8D;
    padding: 16px 24px 16px 24px;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
    justify-content: center;
}

/*Estilo menu*/
header nav ul {
    display: flex; /* Alinha os itens horizontalmente */
    justify-content: space-between; /* Espaçamento automático entre os itens */
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    gap: 5px;
    white-space: nowrap;
}

header nav ul li {
    padding: 0 20px; /* Espaçamento horizontal mais controlado */
}

header nav ul li a {
    color: aliceblue;
    font-size: 12px; /* Novo tamanho da fonte dos itens do menu */
    text-decoration: none;
    display: contents;
    justify-items: center;
    padding: 10px;
}


header nav ul li a:hover {
    text-decoration: underline; /* Estilo de hover para os links */
}
/* Topo do site */
section.topo-do-site {
    padding: 40px 4%;
    background-color: #e7e3e3;
    color: black;
    text-align: center;
}

.topo-do-site h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Tabela */
.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    position: relative;
}

/* Estilo específico para a coluna Data */
#maintenance-table th:nth-child(1),
#maintenance-table td:nth-child(1) {
    white-space: nowrap;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.table-dt{
    white-space: nowrap;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #064c8c;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Botão de busca */
.open-sidebar-btn {
    font-size: 25px;
    position: absolute;
    top: 1px;
    right: 10px; /* Posiciona a lupa no canto superior direito da tabela */
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.open-sidebar-btn:hover {
    filter: drop-shadow(5px -3px 7px #000000);
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(6, 76, 140, 0.8);
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
    z-index: 999;
}

.sidebar-header {
    padding: 10px;
    text-align: center;
    color: white;
}

.sidebar label, .sidebar input, .sidebar select {
    display: block;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar label {
    color: white;
}

.sidebar input, .sidebar select {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar-buttons {
    text-align: center;
    margin-top: 20px;
}

.sidebar-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmBtn {
    background-color: #064c8c;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#clearBtn {
    background-color: lightgray;
    color: black;
}

/* Exibição da sidebar */
.sidebar.active {
    width: 300px;
}

/* Botão de fechar sidebar */
.close-sidebar-btn {
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}
