/* Estilo Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e7e3e3;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
/*Comprimento e cor da faixa do menu*/
header{
    width: 100%;
    background-color: #064C8C;  
    padding: 2px 10%; /* Ajuste da largura da faixa */  
    height: 148px;
    flex-shrink: 0;
    flex-shrink: 0;
}   

/*Largura da faixa do menu*/
header{
    padding: 2px 10%;
}
/*Estrutura e tamanho da letra do menu*/
header > .interface{
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-style: normal;
    padding: 55px;
    font-weight: 200;
    margin-right: 100px;
    list-style-type:none;
    
}

.logo{
    display: flex;
    align-items: center;
    padding: none;
    height: 40px;
    width: 50px;
}

/*Estilo menu*/
header a{
    color: aliceblue;
    text-decoration: none;
}

header nav ul{
    list-style-type:none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px; /*Redução do espaçamento da logo e dos nomes no menu */
}

section.topo-do-site {
    padding: 40px 4%;
    background-color: #e7e3e3;
    color: black;
    text-align: center;
}

.topo-do-site h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters input {
    margin-right: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mensagem-filtro{
color: white;

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #064c8c;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

thead th {
    position: sticky;
    top: 0;
}

/*Filtro
/* Estilo do botão de abrir a sidebar */
.open-sidebar-btn {
    font-size: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    z-index: 1000;
}

/* Estilo da sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #064C8C;
    overflow-x: hidden;
    transition: width 0.5s ease; /* Suaviza a transição */
    padding-top: 60px;
    z-index: 999;
}

.sidebar-header {
    padding: 10px;
    text-align: center;
    color: white;
}

.sidebar label, .sidebar input, .sidebar select {
    display: block;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar input, .sidebar select {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar-buttons {
    text-align: center;
    margin-top: 20px;
}

.sidebar-buttons button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#confirmBtn {
    background-color: #02396d;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cancelBtn {
    background-color: lightgray;
    color: black;
}

/* Exibição da sidebar */
.sidebar.active {
    width: 300px;
}


/* Ajustando o conteúdo para não ser afetado pela sidebar
.container {
    margin-right: 320px; /* Deixa espaço para a sidebar se necessário 
}*/

/*Estrutura do rodapé*/
.footer-rodapé{
    width: 100%;
    background-color:#064C8C; 
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 400px; /*Espaço entre o rodapé e o card*/
}
.footer-left{
    max-width: 600px;
    display: contents;
}
.footer-left h3{
    flex: 1;
    margin: 10px;
    margin-top: 100;
    align-items: end;
    padding: 2px 4%;
    color: white;
}
.sobre{
    flex: 1;
    margin: 10px;
    margin: 40px 4;
    padding: 2px 4%;
    color: white;
}

.redes-sociais{
    flex: 1;
    margin: 10px;
    padding: 2px 4%;
    color: white;
}

.informacoes{
    flex: 1;
    margin: 10px;
    padding: 2px 4%;
    color:white;
    text-align: right;
}
