<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Técnico</title>
    <link rel="stylesheet" href="hitoricodemanutencao.css">
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a ><img src=""> </img>
                    
                </a>
            </div><!--logo-->

            <nav class="menu">
                <ul>
                    <li> <a href="../home/home.html">Página Inicial</a></li>
                    <li> <a href="">Histórico de Manutenção</a></li>
                    
                </ul>
            </nav>
            
        </div><!--interface-->
    </header> 





    <footer>
        <div class="footer-rodapé">
            <div class="sobre">
                <h3>Sobre</h3>
                <p2>Há mais de 65 anos. A tradição que não parou no tempo.  </p2>
            </div><!--footer-left-->
            <div class="redes-sociais">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-whatsapp"></i>
            </div><!--redes-sociais-->
            
            <div class="informacoes">
                <h3>Informações de Contato</h3>
                <p2>R. Nossa Sra. de Lourdes, 193 - <br> Jardim Tavares, Campina Grande - PB<br>58402-045 <br> 83 3182-3600</p2>
            </div>
    
    </footer>
</body>