<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação de Token</title>
    <link rel="stylesheet" href="auth.css">
</head>
<body>
    <!-- Pop-up de notificação -->
    <div id="popup" class="popup">
        <span id="popupIcon" class="popup-icon"></span>
        <span id="popupMessage" class="popup-message"></span>
        <span id="popupClose" class="popup-close" onclick="fecharPopup()">&times;</span>
    </div>

    <script type="module" src="auth.js"></script> 
</body>
</html>

