<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="cadastrarusuario.css">
    <title>Cadastro</title>
</head>
<body>
    <main class="register-container">
        <section class="register-box">
            <div class="logo">
                <img src="../../assets/Imagens/logo_azul.png" alt="Logo" width="120px">
            </div>
            <h2>Cadastro</h2>
            <form id="registerForm" method="post">
                <div class="input-group">
                    <i class="bi bi-person-fill"></i>
                    <input type="text" placeholder="Nome" name="nome" required>
                </div>
                <div class="input-group">
                    <i class="bi bi-envelope-fill"></i>
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                <div class="input-group">
                    <i class="bi bi-lock-fill"></i>
                    <input type="password" placeholder="Senha" name="senha" required>
                </div>
                <div class="input-group">
                    <i class="bi bi-lock-fill"></i>
                    <input type="password" placeholder="Confirmar Senha" name="confirm_password" required>
                </div>
                <button type="submit" class="btn-register">Cadastrar-se</button>
            </form>
            <div class="login-link">
                <p>Já possui uma conta? <a href="../login/login.html">Faça login</a></p>
            </div>
        </section>
    </main>

    <script src="cadastrarusuario.js"></script>
</body>
</html>
