<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="relatarproblema.css">
    <title>Relatar problema</title>
</head>
<body>
    <header>
        <div class="interface">
            <div class="logo">
                <a ><img src="../../assets/Imagens/logo.png"> </img>
                    
                </a>
            </div><!--logo-->

            <nav class="menu">
                <ul>
                    <li> <a href="../home/home.html">Página Inicial</a></li>
                    <li> <a href="../históricodemanutencao/historicodemanutencao.html">Histórico de Manutenção</a></li>
                    
                </ul>
            </nav>
            
        </div><!--interface-->
    </header>  

    <section class="topo-do-site">
        <h1>Relatar problema</h1>
        <p>Relatar problema existente</p>
    </section>

    <section class="formulario">

                <form action="#" method="post">         
                    <label for="local">Local:<span>*</span></label>
                    <select id="local" name="local">
                        <option value="sala1">Sala 1</option>
                        <option value="sala2">Sala 2</option>
                        <option value="sala3">Sala 3</option>
                        <option value="banheirosmasculinos">Banheiros Masculinos</option>
                        <option value="banheirosfemininos">Banheiros Femininos</option>
                    </select>
                </form>
                <form action="#" method="post">           
                    <label for="tipomanutencao">Tipo de Manutenção:<span>*</span></label>
                    <select id="tipomanutencao" name="tipomanutencao">
                        <option value="hidaulica">Hidráulica</option>
                        <option value="eletrica">Elétrica</option>
                        <option value="estrutural">Estrutural</option>
                    </select>
                </form>
                <form action="#" method="post">           
                    <label for="urgencia">Urgência da Manutenção:<span>*</span></label>
                    <select id="urgencia" name="urgencia">
                        <option value="baixa">Baixa</option>
                        <option value="media">Média</option>
                        <option value="alta">Alta</option>
                    </select>
            </form>
                <form>
                <label for="mensagem">Mensagem:<span>*</span></label>
                <textarea id="mensagem" name="mensagem" rows="4" placeholder="Insira uma mensagem sobre o problema a ser resolvido" required minlength="10" maxlength="5000"></textarea>
            </form>
    </select>
            
            
    <p class="campos-obrigatorios">*Campos obrigatórios.</p>
            <div class="botoes">
                <button type="button" class="cancelar">Cancelar
                    <a href="relatarproblema.html"></a>
                </button>
                <button type="button" class="confirmar" onclick="confirmar()">Confirmar</button>
            </div>
            
        </form>
    </section>



    <footer>
        <div class="footer-rodapé">
            <div class="sobre">
                <h3>Sobre</h3>
                <p2>Há mais de 65 anos. A tradição que não parou no tempo.  </p2>
            </div><!--footer-left-->
            <div class="redes-sociais">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-whatsapp"></i>
            </div><!--redes-sociais-->
            
            <div class="informacoes">
                <h3>Informações de Contato</h3>
                <p2>R. Nossa Sra. de Lourdes, 193 - <br> Jardim Tavares, Campina Grande - PB<br>58402-045 <br> 83 3182-3600</p2>
            </div>
    
    </footer>
</body>
</html>
